body {
  font-family: fantasy;
  background-color: lightblue;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 300px;
  border: solid 2px lightblue;
  margin: 10px;
  position: relative;
}

.card img {
  width: 100%;
}

.card__body {
  padding: 10px;
  height: 140px;
}

a {
  display: block;
  width: 92%;
  background-color: lightgreen;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 1px;
  left: 2px;
  text-align: center;
  font-size: 20px;
}

.danger {
  background-color: rgb(255 124 124);
  color: red;
  border: solid 1px red;
  padding: 20px;
  transition: 2s;
}

.success {
  background-color: rgb(148, 247, 139);
  color: darkgreen;
  border: solid 1px darkgreen;
  padding: 20px;
  transition: 2s;
}

.warning {
  background-color: rgb(255, 200, 80);
  color: orange;
  border: solid 1px orange;
  padding: 20px;
  transition: 2s;
}

.information {
  background-color: rgb(108, 238, 255);
  color: blue;
  border: solid 1px blue;
  padding: 20px;
  transition: 2s;
}
